@media only screen and (min-width:320px) and (max-width:480px) {
    .container h5 {

        font-size: 8px;
    }

    .heading .map {

        font-size: 8px;
    }

    .container ul {
        gap: 13px;
        padding-left: 6px;
        font-size: 8px;

    }
    .head {
        margin-top: 7px;
        padding: 13px;
    }
    .heading .head h2 {
        font-size: 17px;
    }

    .line {

        gap: 13px;

        font-size: 9px;
    }

    .overlay-text {

        font-size: 7px;
        
    }
    .overlay-texts {

        font-size: 7px;
        
    }

    .overlay-text1 {
        font-size: 10px;
      
    }

    .overlay-text2 {
        font-size: 15px;
      
    }

    .inputbox input {
        width: 23em;
    }

    @media (max-width: 768px) {
        .overlay-text {
            bottom: 6px;
            font-size: 5px;
        }
    }
    @media (max-width: 768px) {
        .overlay-texts {
            bottom: 6px;
            font-size: 5px;
        }
    }
}

@media only screen and (min-width:480px) and (max-width:768px) {

    .container h5 {
        font-size: 9px;
    }

    .container ul {
        font-size: 12px;
    }

    .heading .map {
        font-size: 9px;
    }

    .heading .head h2 {

        font-size: 25px;
    }

    .line {
        font-size: 12px;
    }

    .overlay-text {
        font-size: 10px;
    }

    .overlay-texts {
        font-size: 12px;
    }

    .overlay-text1 {
        font-size: 11px;
    }

    .overlay-text2 {
        font-size: 13px;
    }

    .sa {

        font-size: 16px;
    }

}

@media only screen and (min-width:769px) and (max-width:1024px) {
    .overlay-text {
    
        font-size: 15px;
    }
    .overlay-texts {
    
        font-size: 20px;
    }
    .overlay-text1 {
        font-size: 20px;
    }

    .overlay-text2 {
        
        font-size: 20px;
    }




}



